/* Ensure proper sizing */
* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

/* Import Roboto fonts from folder */
@font-face {
    font-family: Roboto;
    src: url("../Fonts/Roboto/Roboto-Regular.ttf");
}

/*
    Ensure that body and html uses 100% of website page.
    Smooth scroll is used for Features & Get-In-Touch option in nav bar.
*/
body,
html {
    height: 100%;
    margin: 0px;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

a {
    outline: none;
    text-decoration: none !important;
}

video {
    width: 100%;
    height: auto;
}

.navbar-area {
    height: 50px;
}

.navbar a,
.logo a {
    float: left;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.menu span {
    float: left;
    padding: 10px 20px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
}

.logo img {
    width: 100px;
}

.navbar {
    float: right;
    transition: .5s ease-in-out;
}

.navbar-nav > li{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
}

.nav-link {
    color: black;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.nav-link:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #BE0030;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.nav-link:hover:before, .nav-link:focus:before, .nav-link:active:before {
    left: 0;
    right: 0;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closeBtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.carousel-item img {
    width: 100%;
    height: 650px;
    max-height: 650px;
}

.caption {
    color: white;
    position: absolute;
    top: 20%;
    left: 8%;
}

.caption h1 {
    font-size: 55px;
}

.caption p {
    font-size: 23px;
    text-transform: uppercase;
}

#footer {
    background: black;
    padding: 20px 0;
}

#footer P {
    color: #999999;
}

#footer a {
    color: #999999;
    font-size: 13px;
    text-decoration: none;
}

#footer a:hover {
    color: #555555;
}

#footer ul {
    padding-left: 0;
}

#footer ul > li{
    padding-left: 18px;
    padding-right: 18px;
}

#footer .social {
    text-align: left;
}

#footer .social a {
    margin: 0 10px 0 0;
    display: inline-block;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;
}

.fa-envelope:hover,
.fab:hover {
    opacity: 0.7;
}

.fa-facebook-f {
    background: #3b5998;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest-p {
    background: #cb2027;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-linkedin-in {
    background: #007bb5;
    color: white;
}

.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.box {
    background: #ffffff;
    margin: 30px 0 30px;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.car_model {
    margin-top: 0;
    margin-bottom: 40px;
}

.car_model .text {
    padding: 10px 10px 0;
}

.car_model .text .button {
    text-align: center;
    clear: both;
}

.car_model .text h3 {
    text-align: center;
    font-size: 20px;
}

.car_model .text h3 a {
    color: rgb(85, 85, 85);
}

.description {
    padding: 10px 10px 0;
}

.description h2 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #4f525a;
}

.centodieciModel p {
    font-size: 16px;
    color: #8a8e96;
}

.specs p {
    font-size: 18px;
}

.pic2 {
    position: absolute;
    top: 20%;
    right: 85px;
}

.imageOverlay p {
    position: absolute;
    top: 61%;
    right: 85px;
}

.review {
    padding: 10px;
}